{
  "parser": "babel-eslint",
  "extends": ["prettier", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "no-unused-vars": "error",
    "react/jsx-uses-vars": 2,
    "react/prop-types": 0,
    "prettier/prettier": ["error", { "printWidth": 100 }]
  }
}
