{
  "parser": "babel-eslint",
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "error",
    "react/jsx-uses-vars": 2,
    "prettier/prettier": ["error", {"printWidth": 100}]  
  }
}
